.top-left-section {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
  padding: 0 1em;
  width: calc(6 * 17ch);
}
.top-left-section .heading {
  font-size: 6em;
  font-weight: 600;
  line-height: 0.95em;
}
.top-left-section .subHeading {
  color: #b0b0b0;
  font-weight: 600;
  font-size: 1.5em;
  padding: 1em 0.5em;
}

.top-left-section .buttons {
  display: flex;
  padding: 1em 1em;
}
.top-left-section .buttons > div {
  padding: 1.5em 3em;
  margin: 0 0.25em;
  border-radius: 100px;
  border: black solid 1px;
  background-color: black;
  color: white;
  font-weight: 600;
}
.top-left-section .buttons .learn {
  color: black;
  background-color: #e9b9f6;
}
